* {
  font-family: 'Roboto', sans-serif;
  color: rgb(0, 0, 0);
  width: 100%;
  margin: 0 auto;

}
#main-doc{
    margin: 0 auto;
  padding-top: 2%;
}
p{
    width: 80%;
}
header {
  font-family: 'Share Tech', sans-serif;
  font-size: 140%;
  text-align: center;
}
code {
  background-color: rgb(190, 190, 190);
  width: 40%;
  display: block;
  white-space: pre-wrap;
  margin: 0 auto;
  padding-bottom: 1%
}
#list {
    text-align: center;
    max-width: 40%;
      margin: 0 auto;
}
#navbar {
  padding-top: 2%
}
